# NOTE: fix issue where dockerbizdev doesn't work >= 4.0
Django<4
requests
mysqlclient
django-import-export
gunicorn
django-cors-headers
django-tagulous
django-authgw
python-ubercode-utils
ldap3
# note: needed for ldap3 -> ntlm since md4 is no longer supported in core libs
pycryptodome